<h2>Book Appointment</h2>
<form action="/book" method="POST">
  <input name="name" placeholder="Name"><br>
  <input name="email" placeholder="Email"><br>
  <input type="date" name="date"><br>
  <input type="time" name="time"><br>
  <textarea name="message" placeholder="Message"></textarea><br>
  <button type="submit">Book Now</button>
</form>
